// ========== DEFAULT COMPONENTS START ========== //
.default-section {

}
.main-title {
  font-family: "DosisRegular";
  text-transform: uppercase;
  color: $textColorLightGray;
}
.section-title {
  font-family: "DosisRegular";
  color: $textColorBlack;
  text-transform: uppercase;
}
.small-title {

}
// ========== DEFAULT COMPONENTS END ========== //
